
ConwayGameOfLife.xcodeproj/xcuserdata/tomasruizlopez.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist

ConwayGameOfLife.xcodeproj/xcshareddata/xcschemes/ConwayGameOfLife.xcscheme

ConwayGameOfLife.xcodeproj/xcuserdata/tomasruizlopez.xcuserdatad/xcschemes/xcschememanagement.plist
